
body {
  background-color: #e6e6ff;
  font-family: Roboto, "Open Sans", Helvetica, sans-serif;
  font-size:24px;
  margin-left: 40px;
  margin-right: 40px;
}
table, th, td {
  width: 100%; 
  border-bottom: 1px solid #ddd;
  border-collapse: collapse;
  text-align: left;
  background-color: white;
  font-size:80%;
  table-layout: auto;
}
h1 {
  color: white;
  font-size:150%;  
  /* margin-left: 40px; */
  border-bottom: 1px solid white;
}
h2 {
  color: black;
  font-size:100%;  
  /* margin-left: 40px; */
  /*border-bottom: 1px solid white;*/
}
.index{
	font-size:100%;
	margin-left:100px;
} 
.index_l{
	font-size:100%;
	margin-left:100px;
	column-count:3;
}

.col_2 {
	/*border-right:1px solid black;*/
	float:left;
	width:49%;
	padding:5px;
	
}
.row:after{
	content:"";
	display:table;
	clear:both;	
}

  

/* OK JUSQU'ICI !!! */
.container {
    float: left;
}

.title1{
	color: red;
	font-weight: bold;
} 
.title2{
	color: blue;
	font-style: italic;
} 


.row:after{
	content:"";
	display:table;
	clear:both;	
}
img {
  float: left;
}
.col_y {
	
	float:left;
	width:33.3%;
	padding:5px;
}

/* Add a black background color to the top navigation */
.topnav {
  /*background-color: #333;*/
  background-color: #ccccff;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  /* color: #f2f2f2; */
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  /* background-color: #4CAF50; */
  background-color: #6666ff;
  color: white;
}
