{% extends 'biketours/base.html' %}
{% block content %}

<h1> Détail de la performance </h1>
<br><br>
{% if perf %}
	<ul>
		
		<li>{{perf}}</li>
		
	</ul>
	<br><br>
	<table>
		<tr>
				<th colspan="2">Performance moyenne</th>
		</tr>
		{% for k,v in perf_old.items %}
		<tr>
			<td>{{k}} </td>
			<td>{{v}} </td>
		</tr>
		{% endfor %}
	</table>
    <h2>Modification parcours</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% else %}
	<h1> C'est vide ? .... </h1>
{% endif %}
{% endblock %}
