{% extends 'biketours/base.html' %}
{% block content %}
{% load humanize %}
<h1> Les tours suivants ont été effectués ({{type}} : {{det}}) </h1>
<br>
 
{% if list %}
{% for k,v in list.items %}
<div id='test_{{k}}' style='display:none'>
<table>
		<tr>
			<th colspan="2">{{k}}</th>
		</tr>
		<tr>
				<th>No</th>
				<th>Nom</th>
				<th>Date</th>
				<th>Lien</th>
				<th>Distance</th>
				<th>Temps</th>
				<th>Dénivelé</th>
				<th>Moyenne</th>
				<th>Remarques</th>
		</tr>
		{% for n in v %}
		<tr>
				<td>{{forloop.counter}}</td>
				<td>{{n.Refparcours}}</td>
				<td>{{n.Date}}</td>
				<td><a href="./{{n.pk}}/">{{n.pk}} </a></td>
				<td>{{n.Distance}}</td>
				<td>{{n.Temps}}</td>
				<td>{{n.Dénivelé|floatformat|intcomma}}</td>
				<td>{{n.Moyenne}}.</td>
				<td>{{n.Remarques}}</td>
		</tr>
		{%endfor %}	

</table>
<button type="button" onclick="document.getElementById('test_{{k}}').style.display='none'">Hide</button>
</div>
<button type="button" onclick="document.getElementById('test_{{k}}').style.display='block'">{{k}}</button>
{% endfor %}
{% else %}
	<h1> C'est vide ? .... </h1>
{% endif %}
{% endblock %}
 