
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'biketours/mystyle.css' %}">
<body>
<div class="topnav">
  <a class="active" href="/">Home</a>
  {% for n, link in lst_link.items %}
	<a href="/{{link}}/">{{n}}</a>
  {% endfor %}
  <a href="../admin">Admin</a>
</div>
<h1> Les liens suivants sont disponibles </h1>
<br><br>
{% if lst_link %}
	<div class="index">
	<ul>
		{% for n, link in lst_link.items %}
		<li>
			
				<a href="/{{link}}/">{{n}}</a>
		</li>
		{% endfor %}
	</ul>
	</div>
	{% else %}
	<h1> Ils sont où les liens ? .... </h1>
{% endif %}
<br>
{% if dt %}
<div id='test' style='display:none'>
	<h2> Etat au {{dt}} </h2>
	<table>
		<tr>
			<th colspan="2">Total vtt + route</th>
		</tr>
		{% for k,v in stat_comp_act.items %}
		<tr>
			<td>{{k}} </td>
			<td>{{v}} </td>
		</tr>
		{% endfor %}
	</table>
	<br>
	<table>
		<tr>
			<th colspan="2">Total vtt + route - moy last 3y</th>
		</tr>
		{% for k,v in stat_comp_act_last.items %}
		<tr>
			<td>{{k}} </td>
			<td>{{v}} </td>
		</tr>
		{% endfor %}
	</table>
	<button type="button" onclick="document.getElementById('test').style.display='none'">Hide</button>
<br>
	<br>
</div>
<button type="button" onclick="document.getElementById('test').style.display='block'">Comparaison</button>
<br>

{% endif %}

</body>