{% extends 'biketours/base.html' %}
{% block content %}

<h1> Les liens suivants sont disponibles </h1>
{% if lst_link %}
	<div class="index">
	<ul>
		{% for n, link in lst_link.items %}
		<li>
			
				<a href="/{{link}}/">{{n}}</a>
		</li>
		{% endfor %}
	</ul>
	</div>
	{% else %}
	<h1> Ils sont où les liens ? .... </h1>
{% endif %}
{% if dt %}
	<h2> Etat au {{dt|date:"SHORT_DATE_FORMAT"}} </h2>
<div class="container" id="container_t"></div>
<div class="container" id="container_t_l3"></div>
<script>
Highcharts.chart('container_t', {{ chart_tot.chart_t|safe }});
</script>
<script>
Highcharts.chart('container_t_l3', {{ chart_tot.chart_t_l3|safe }});
</script>
<br>

	<div class="row">
	<div class="col_2">
	<table>
		<tr>
			<th colspan="2">Total vtt + route</th>
		</tr>
		{% for k,v in stat_comp_act.items %}
		<tr>
			<td>{{k}} </td>
			<td>{{v}} </td>
		</tr>
		{% endfor %}
	</table>
	</div>
	<div class="col_2">
	<table>
		<tr>
			<th colspan="2">Total vtt + route - moy last 3y</th>
		</tr>
		{% for k,v in stat_comp_act_last.items %}
		<tr>
			<td>{{k}} </td>
			<td>{{v}} </td>
		</tr>
		{% endfor %}
	</table>
	</div>
	</div>
	<div class="row">
	<div class="col_2">
	<table>
		<tr>
			<th colspan="2">Total</th>
		</tr>
		{% for k,v in stat_comp_all_act.items %}
		<tr>
			<td>{{k}} </td>
			<td>{{v}} </td>
		</tr>
		{% endfor %}
	</table>
	</div>
	<div class="col_2">
	<table>
		<tr>
			<th colspan="2">Total - moy last 3y</th>
		</tr>
		{% for k,v in stat_comp_all_act_last.items %}
		<tr>
			<td>{{k}} </td>
			<td>{{v}} </td>
		</tr>
		{% endfor %}
	</table>
	</div>
	</div>
<br>

{% endif %}
</body>
{% endblock %}