{% extends 'biketours/base.html' %}
{% block content %}
<!-- Fengyuan Chen's Datepicker -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" /> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script> -->

<h1> Comparaison : {{dt|date:"SHORT_DATE_FORMAT" }} </h1>
<!-- PARTIE FORM A ADAPTER POUR EFFECTUER COMPARAISON A LA DATE CHOISIE -->
<form method="POST">{% csrf_token %}        
    <h2>Date alternative : <input type="date"  name='alt_date' ></h2>
    <button type="submit">Submit</button>
</form>
<!-- <input id="datepicker"> -->
<!-- <script> -->
    <!-- $(function () { -->
      <!-- $("#datepicker").datepicker(); -->
    <!-- }); -->
 <!-- </script>  -->
{% if stat_comp_act %}
<div class="row">
	<div class="col_2">
	<table>
		<tr>
			<th colspan="2">Total vtt + route</th>
		</tr>
		{% for k,v in stat_comp_act.items %}
		<tr>
			<td>{{k}} </td>
			<td>{{v}} </td>
		</tr>
		{% endfor %}
	</table>
	</div>
	<div class="col_2">
	<table>
		<tr>
			<th colspan="2">Total vtt + route - moy last 3y</th>
		</tr>
		{% for k,v in stat_comp_act_last.items %}
		<tr>
			<td>{{k}} </td>
			<td>{{v}} </td>
		</tr>
		{% endfor %}
	</table>
	</div>
</div>
<br>
<div class="row">
	<div class="col_2">
	<table>
		<tr>
			<th colspan="2">Total</th>
		</tr>
		{% for k,v in stat_comp_all_act.items %}
		<tr>
			<td>{{k}} </td>
			<td>{{v}} </td>
		</tr>
		{% endfor %}
	</table>
	</div>
	<div class="col_2">
	<table>
		<tr>
			<th colspan="2">Total - moy last 3y</th>
		</tr>
		{% for k,v in stat_comp_all_act_last.items %}
		<tr>
			<td>{{k}} </td>
			<td>{{v}} </td>
		</tr>
		{% endfor %}
	</table>
	</div>
</div>
	<br>
	<div class="row">
	{% for a,b in stat_comp_act_y.items %}
	<div class="col_2">
	<table>
		<tr>
			<th class="title1", colspan="2">{{a}} </td>
		</tr>
		{% for c, d in b.items %}
		<tr>
			<td class="title2", colspan="2">{{c}} </td>
		</tr>
			{% for e, f in d.items %}
			<tr>
				<td>{{e}} </td>
				<td>{{f}} </td>
			</tr>
			{% endfor %}
		{% endfor %}
	</table>
	</div>
	
	{% endfor %}
	</div>

{% else %}
	<h1> Ils sont où les liens ? .... </h1>
{% endif %}
{% endblock %}
