
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'biketours/mystyle.css' %}">
<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="../admin">Admin</a>
</div>

<h1> Comparaison : {{dt}} </h1>
<!-- PARTIE FORM A ADAPTER POUR EFFECTUER COMPARAISON A LA DATE CHOISIE -->
<!-- <form action="{% url 'datainput' %}" method="POST" enctype="multipart/form-data" class="form-horizontal">  -->
<!-- {% csrf_token %} -->
<!-- <div class="form-group"> -->
    <!-- <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">File: </label> -->
    <!-- <div class="col-md-8"> -->
        <!-- <input type="file" name="csv_file" id="csv_file" required="True" class="form-control"> -->
    <!-- </div>                     -->
<!-- </div> -->
<!-- <div class="form-group">                     -->
    <!-- <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;"> -->
         <!-- <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Upload </button> -->
    <!-- </div>  -->
<!-- </div> -->
<!-- </form> -->
<!-- <form action="/action_page.php"> -->
  <!-- Birthday: -->
  <!-- <input type="date" name="bday"> -->
  <!-- <input type="submit"> -->
<!-- </form> -->
{% if stat_comp_act %}
	<table>
		<tr>
			<th colspan="2">Total vtt + route</th>
		</tr>
		{% for k,v in stat_comp_act.items %}
		<tr>
			<td>{{k}} </td>
			<td>{{v}} </td>
		</tr>
		{% endfor %}
	</table>
	<br>
	<table>
		<tr>
			<th colspan="2">Total vtt + route - moy last 3y</th>
		</tr>
		{% for k,v in stat_comp_act_last.items %}
		<tr>
			<td>{{k}} </td>
			<td>{{v}} </td>
		</tr>
		{% endfor %}
	</table>
	<br>
	<div class="row">
	{% for a,b in stat_comp_act_y.items %}
	<div class="col_2">
	<table>
		<tr>
			<th class="title1", colspan="2">{{a}} </td>
		</tr>
		{% for c, d in b.items %}
		<tr>
			<td class="title2", colspan="2">{{c}} </td>
		</tr>
			{% for e, f in d.items %}
			<tr>
				<td>{{e}} </td>
				<td>{{f}} </td>
			</tr>
			{% endfor %}
		{% endfor %}
	</table>
	</div>
	
	{% endfor %}
	</div>

{% else %}
	<h1> Ils sont où les liens ? .... </h1>
{% endif %}
