{% extends 'biketours/base.html' %}
{% block content %}
<body>
<div id='test' style='display:none'>
<h1>  {{dist}}</h1>
<br>
<h1>  {{time}}</h1>
<br>
<h1>  {{deniv}}</h1>

<button type="button" onclick="document.getElementById('test').style.display='none'">Hide</button>
<br>
<br>
</div>
<button type="button" onclick="document.getElementById('test').style.display='block'">Show</button>
<div id="container_dist"></div>
<script>
  Highcharts.chart('container_dist', {{ dist|safe }});
</script>
<div id="container_deniv"></div>
 <script>
  Highcharts.chart('container_deniv', {{ deniv|safe }});
</script>
<div id="container_time"></div>
 <script>
  Highcharts.chart('container_time', {{ time|safe }});
</script>
{% for k in agr %}
<br>
{{k}}{{k.Count}}{{k.Distance_tot}}
<br>
{%endfor %}	

</table>
</body>


{% endblock %}
