{% extends 'biketours/base.html' %}
{% block content %}
<body>
<div id='test' style='display:none'>
<h1>  {{dist}}</h1>
<br>
<h1>  {{time}}</h1>
<br>
<h1>  {{deniv}}</h1>

<button type="button" onclick="document.getElementById('test').style.display='none'">Hide</button>
<br>
<br>
</div>
<button type="button" onclick="document.getElementById('test').style.display='block'">Show</button>
<div id="container_dist"></div>
<script>
  Highcharts.chart('container_dist', {{ dist|safe }});
</script>
<div id="container_deniv"></div>
 <script>
  Highcharts.chart('container_deniv', {{ deniv|safe }});
</script>
<div id="container_time"></div>
 <script>
  Highcharts.chart('container_time', {{ time|safe }});
</script>
<!-- {% for k in agr %}
<br>
{{k}}-{{k.Nb}}-{{k.Distance_tot}}
<br>
{%endfor %}	
<br>
{% for k in agr2 %}
<br>
{{k}}-{{k.Nb}}-{{k.Distance_tot}}
<br>
{%endfor %}	
 -->
<!-- <br>
{% for k in type %}
<br>
{{k}}
<br>
{%endfor %}	
<br>
{% for k in type2 %}
<br>
{{k.Refparcours.Parcours}}
{{k.Refparcours.Type}}

<br>
{%endfor %}	
<br>
{% for k in type3 %}
<br>
{{k}}
<br>
{%endfor %}	 -->
<!-- <br>
{{test3}}
{% for k in test3 %}
<br>
{{k}} 
{{k.Nb}}
{{k.Distance_tot}}
{{k.Temps_tot}}
{{k.Dénivelé_tot}}
<br>
{%endfor %}-->	
<br>
{% for k, v in test4.items %}
<br>
{{k}} -- {{v}}
<br> 
{%endfor %}	
<br>
<!-- {% for k, v in test5.items %}
<br>
{{k.year}} -- {{v}}
<br> 
{%endfor %}	
<br> -->
<br>
{% for k, v in test6.items %}
<br>
{{k.year}} -- {{v}}
<br> 
{%endfor %}	
<br>
<br>
{% for k in test7 %}
<br>
{{k}} 
<br> 
{%endfor %}	
<br>
<!-- <div id="container_test"></div>
 <script>
  Highcharts.chart('container_test', {{ test_chart|safe }});
</script>
<br>
<div id="container_test_l3"></div>
 <script>
  Highcharts.chart('container_test_l3', {{ test_chart_l3|safe }});
</script> -->
<br>
{% for k in test_n %}
<br>
{{k}}  
<br> 
{%endfor %}	
<br>
<<div class="container" id="container_test"></div>
<script>
Highcharts.chart('container_test', {{ test_chart|safe }});
</script>
<div class="container" id="container_test_l3"></div>
<script>
Highcharts.chart('container_test_l3', {{ test_chart_l3|safe }});
</script>
<br>
{{data_snk}}
<br>

<div class="container" id="container_testsnkey"></div>
<script>
Highcharts.chart('container_testsnkey', {{ testsnk|safe }});
</script>
 
{% endblock %}
